:root {
  --backdrop-colour:  rgb(40, 44, 38);
  --foreground-colour: rgb(58, 68, 55);
  --list-colour-1: rgb(58, 68, 55);
  --list-colour-2: rgb(74, 87, 71);
  --input-colour: rgb(93, 119, 84);
  --total-colour-1: rgb(94, 119, 35);
  --total-colour-2: rgb(114, 145, 42);
  --text-colour: rgb(214, 248, 203); 

/*--bg-colour:  rgb(255, 255, 255);
  --scoresheet-colour: rgb(146, 175, 137);
  --input-colour: rgb(255, 255, 255);
  --text-colour: rgb(0, 0, 0); */
}

*{
  /* background-color: rgb(68, 92, 60); */
  /* background-color: rgb(98, 129, 88); */
  /* background-color: rgb(159, 206, 144); */
  background-color: var(--backdrop-colour);
  color: var(--text-colour);
}

.App {
  margin: 0;
  padding: 0;
}

.filler-backdrop{
  background-color: var(--backdrop-colour);
}
.filler-foreground{
  background-color: var(--foreground-colour);
}
.filler-input{
  background-color: var(--input-colour);
}
.filler-text{
  background-color: var(--text-colour);
}


.title{
  text-align: center;
  font-size: 40px;
  font-style: initial;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: var(--foreground-colour);
}

.scoresheet{
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: row;
  margin: 10px;
  background-color: var(--foreground-colour);
}

.right-justify{
  display: flex;
  justify-content: flex-end;
  background-color: var(--foreground-colour);
}
.split-justify{
  display: flex;
  justify-content: space-between;
  background-color: var(--foreground-colour);
}

.scoresheet-athletes{
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: var(--foreground-colour);
}

.add-event-wrapper{
  display: flex;
  flex-direction: row;
  background-color: var(--foreground-colour);
}
.text-label{
  background-color: var(--foreground-colour);
  padding-left: 4px;
  padding-right: 4px;
}
.header-label{
  background-color: var(--backdrop-colour);
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 30px;
}
.total-label-1{
  background-color: var(--total-colour-1);
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 23px;
}
.total-label-2{
  background-color: var(--total-colour-2);
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 23px;
}
.list-label-1{
  background-color: var(--list-colour-1);
  padding-left: 4px;
  padding-right: 4px;
  font-size: 16px;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 23px;
}
.list-label-2{
  background-color: var(--list-colour-2);
  padding-left: 4px;
  padding-right: 4px;
  font-size: 16px;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 23px;
}
.athlete-label-1{
  background-color: var(--list-colour-1);
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 23px;
}
.athlete-label-2{
  background-color: var(--list-colour-2);
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 23px;
}

.input{
  background-color: var(--input-colour);
  border-radius: 10px;
  border-style:none;
}
.input::placeholder{
  color: var(--backdrop-colour);
}

.vertical-list{
  background-color: var(--foreground-colour);
  display:flex;
  flex: 1;
  white-space: nowrap;
  flex-direction: column;
}
.horizontal-list{
  background-color: var(--foreground-colour);
  display:flex;
  flex: 1;
  flex-direction: row;
}
.horizontal-list-clickable{
  background-color: var(--foreground-colour);
  display:flex;
  flex-direction: row;
}
.horizontal-list-clickable:hover{
  cursor: pointer;
}

.horizontal-list-dark{
  background-color: var(--backdrop-colour);
  display:flex;
  flex-direction: row;
}

.athletes-list{
  background-color: var(--foreground-colour);

  display:flex;
  flex-direction: column;
  margin-left: 10px;
}

.button-styling{
  background-color: var(--input-colour);
  border-radius: 10px;
  height: 19px;
}

.sub-section{
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--foreground-colour);
  margin: 10px;
  border-style:none;
}

.section-details{
  display:inline-flex;
  padding: 5px;
  margin: 5px;
  background-color: var(--foreground-colour);
}

.vertical-line{
  width: 2px;
  background-color: var(--backdrop-colour);
}
.thyckk-horizontal-line{
  height: 10px;
  background-color: var(--backdrop-colour);
}
.soft-vertical-line{
  width: 1px; /* Width of the line */
  background-image: radial-gradient(circle, #000 20%, transparent 20%);
  background-size: 10px 10px; /* Control spacing and size */
}

.horizontal-line{
  height: 1px;
  background-color: black;
}
