.body{
  margin: 0 !important;
  padding: 0;
}

*{
  /* background-color: rgb(68, 92, 60); */
  /* background-color: rgb(98, 129, 88); */
  /* background-color: rgb(159, 206, 144); */
  background-color: rgb(40, 44, 38);
  color: rgb(214, 248, 203);
}

.App {
  margin: 0;
  padding: 0;
}

.title{
  text-align: center;
  font-size: 40px;
  font-style: initial;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top:50px;
  margin-bottom:20px;
  background-color: rgb(58, 68, 55);
}

.scoresheet{
  background-color: rgb(58, 68, 55);
}

.scoresheet-events{
  display: flex;
  flex-direction: row;
  margin: 10px;
  background-color: rgb(58, 68, 55);
}

.right-justify{
  display: flex;
  justify-content: flex-end;
  background-color: rgb(58, 68, 55);
}

.scoresheet-athletes{
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: rgb(58, 68, 55);
}

.add-event-wrapper{
  display: flex;
  flex-direction: row;
  background-color: rgb(58, 68, 55);
}

.my-label{
  background-color: rgb(58, 68, 55);
}

.my-textfield{
  background-color: rgb(58, 68, 55);
  margin-left: 0px;
}
.my-textfield::placeholder{
  color: rgb(211, 240, 202);
}

.vertical-list{
  background-color: rgb(58, 68, 55);
  display:flex;
  flex-direction: column;
}
.horizontal-list{
  background-color: rgb(58, 68, 55);
  display:flex;
  flex-direction: row;
}

.athletes-list{
  background-color: rgb(58, 68, 55);

  display:flex;
  flex-direction: column;
  margin-left: 10px;
}

.filler{
  background-color: rgb(58, 68, 55);
}

.input{
  background-color: rgb(93, 119, 84);
  border-radius: 10px;
  border-style:none;
}

.button-styling{
  background-color: rgb(93, 119, 84);
  border-radius: 10px;
}

.add-section{
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(58, 68, 55);
  margin: 0px;
}

.sub-section{
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(58, 68, 55);
  margin: 10px;
  border-style:none;
}

.section-details{
  display:inline-flex;
  padding: 5px;
  margin: 5px;
  background-color: rgb(58, 68, 55);
}

.vertical-line{
  width: 1px;
  background-color: black;
  margin-left: 8px;
  margin-right: 10px;
}
.soft-vertical-line{
  width: 1px; /* Width of the line */
  background-image: radial-gradient(circle, #000 20%, transparent 20%);
  background-size: 10px 10px; /* Control spacing and size */
  margin-left: 5px;
  margin-right: 5px;
}
.thick-vertical-line{
  width: 2px;
  background-color: black;
  margin-left: 8px;
  margin-right: 10px;
}

.horizontal-line{
  height: 1px;
  background-color: black;
  margin-top: 3px;
  margin-bottom: 3px;
}

.soft-horizontal-line{
  height: 1px; /* Width of the line */
  background-image: radial-gradient(circle, #000 20%, transparent 20%);
  background-size: 10px 10px; /* Control spacing and size */
  margin-left: 5px;
  margin-right: 5px;
}